<footer class="site-footer">
    <div class="wrapper">
        <section class="social">
            <ul>
                <li><a class="twitter" href="//www.twitter.com/teacherdlc">@teacherdlc on Twitter</a></li>
                <li><a class="instagram" href="//www.instagram.com/mr.delacruz">@mr.delacruz on Instagram</a></li>
                <li><a class="facebook" href="//www.facebook.com/teacherdlc">Mr. De la Cruz on Facebook</a></li>
                <li><a class="linkedin" href="//www.linkedin.com/in/justin-de-la-cruz-49357851">Justin De la Cruz on LinkedIn</a></li>
            </ul>
        </section>
    </div>
</footer>