<header class="site-header">
    <div class="container">
        <div class="wrapper">

            <h1 class="site-title"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>

            <section class="bio">
                <h1>Justin De la Cruz</h1>
                <h2>
                    <span class="role">Ontario Certified Teacher</span>
                </h2>
                <h2>
                    <span class="role">Freelance Creative</span>
                </h2>
            </section>
        </div>
    </div>
</header>
